<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Buku</title>
</head>
<body>
    <!-- Menampilkan data buku yang dishare dari index.js -->
    <h1>Daftar Buku</h1>
    <ul>
        <!-- Karena buku berupa array, gunakan perulanagan untuk menampilkan setiap data buku -->
        <!-- Dengan perulangan menggunakan statement for -->
        <h2>Menggunakan for</h2>
        <% for( let index = 0; index < buku.length; index++ ) { %>
            <li>
                <strong><%= buku[index].judul %></strong> - <%= buku[index].pengarang %> 
                <a href="/buku/edit/<%= buku[index].id %>">Edit</a>
            </li>
        <% } %>

        <h2>Menggunakan foreach</h2>
        <!-- Untuk melakukan iterasi data buku kita juga bisa menggunakan
        method foreach pada array -->
        <% buku.forEach((buku,index) => { %>
            <li>
                <strong><%= buku.judul %></strong> - <%= buku.pengarang %> 
            </li>
        <% }) %>

    </ul>

    <div>
        <!-- Tambahkan link ke halaman/path tambah buku -->
        <a href="/buku/create">Tambahkan Buku Baru</a>
    </div>
</body>
</html>